{% load staticfiles %}

<h3 align="center"> Partners</h3>
          <div class="row" style="text-align:center;">

            <div class="span2 logo">
              <p align="center"><a href="http://www.uqar.ca/"><img src="{% static "Logo/logo_2_UQAR_min.jpg" %}" ></a></p>
            </div>

            <div class="span2 logo">
              <p align="center"><a href="http://www.uqam.ca/"><img src="{% static "Logo/logo_3_UQAM_min.jpg" %}" ></a></p>
            </div>

            <div class="span2 logo">
              <p align="center"><a href="http://www.uqo.ca/"><img src="{% static "Logo/logo_5_UQO.jpg" %}" ></a></p>
            </div>

            <div class="span2 logo">
              <p align="center"><a href="http://www.uqat.ca/"><img src="{% static "Logo/logo_4_UQAT.jpg" %}" ></a></p>
            </div>

            <div class="span2 logo">
              <p align="center"> <a href="http://www.mnr.gov.on.ca/en/"><img src="{% static "Logo/logo_11_ORMN.jpeg" %}" ></a></p>
            </div>
            <div class="span2 logo">
              <p align="center"> <a href="http://www.mrn.gouv.qc.ca/"><img src="{% static "Logo/logo_12_MRN.jpeg" %}" ></a></p>
            </div>
          </div>
          <div class="row" style="text-align:center;">  
            <div class="span2 logo">
              <p align="center"> <a href="http://www.pfresolu.com/en/?langtype=4105"><img src="{% static "Logo/logo_8_resolu.jpeg" %}" ></a></p>
            </div>
            <div class="span2 logo">
              <p align="center"> <a href="http://tembec.com/en"><img src="{% static "Logo/logo_6_tembec.jpeg" %}" ></a></p>
            </div>
            <div class="span2 logo">
              <p align="center"> <a href="http://www.domtar.com/index.asp"><img src="{% static "Logo/logo_7_domtar.jpeg" %}" ></a></p>
            </div>     

            <div class="span2 logo">
              <p align="center"> <a href="http://www.ouranos.ca/"><img src="{% static "Logo/logo_9_ouranos.jpeg" %}" ></a></p>
            </div>
            <div class="span2 logo">
              <p align="center"> <a href="http://support.natureconservancy.ca/site/PageServer?pagename=cnc_main"><img src="{% static "Logo/logo_10_conservationnature.jpeg" %}" ></a></p>
            </div>
            <div class="span2 logo">
              <p align="center"> <a href="http://www.crebsl.org/"><img src="{% static "Logo/logo_13_crebsl.jpeg" %}" ></a></p>
            </div>

          </div>
          <p align="center"> <a href="http://www.nserc-crsng.gc.ca/index_fra.asp"><img src="{% static "Logo/logo_1_CRSNG_min.jpg" %}" ></a>
           <a href="http://scf.rncan.gc.ca/?lang=fr"><img src="{% static "Logo/logo_14_CAN.jpeg" %}" ></a></p>