{% load staticfiles %}

<!DOCTYPE html>
<html >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This website provide information on the QUICC-FOR project">
	<title>QUICCFOR Project</title>

			<!-- Fav and touch icons -->
			<link rel="shortcut icon" href="{% static "Logo/favicon.png" %}">
			<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
		 	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		    <!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		    <![endif]-->

			<link href="{% static "main.css" %}" rel="stylesheet" type="text/css" />

			<style>
			html {
				background: url({% static "forest.jpg" %}) no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			</style>

				{% block head %}
				{% endblock %}


		</head>

		<body>

			<div class="container-fluid">
				{% include "includes/nav_QF.html" %}

			<div class="row">
				 <div class="col-md-12">
					<p class="text-center" style="font-weight: 600;font-size: 15px;">
							<img style="max-height:120px;margin-bottom:-30px;" src="{% static "Logo/Logo_QUICCFORTop.png" %}" alt="QUICCFOR_Logo"/>
							<br>
					Quantifying and mapping the impact of Climate Change on forest productivity in Eastern Canada</p>
				</div>
			</div>
			<hr>

				{% block content %}
				{% endblock %}

				<div class="footer">
					<div class="row" style="padding-top:30px;">
							<div class="col-md-6"  style="font-family:Source Sans Pro;"> <p class="text-left"><b>Photo credits - S. & C. Albouy</b> <br> &copy; <b>LaboEEC 2013</b></p></div>
							<div class="col-md-6"  style="font-family:Source Sans Pro;"> <p class="text-right"> Powered by <a href="https://www.djangoproject.com/"><b>Django</b></a> and <a href="http://twitter.github.io/bootstrap/"> <b>Bootstrap</b></a></p></div>
						</div>
				</div>
				</div>
		<!-- Le javascript
		================================================== -->
				<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "js/bootstrap.min.js" %}"></script>

		{% block footer %}
		{% endblock %}

		<!-- Placed at the end of the document so the pages load faster -->
		<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-52092681-1', 'uqar.ca');
			  ga('send', 'pageview');

		</script>
	</body>
	</html>
