{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<link href="{% static "css/leaflet.awesome-markers.css" %}" rel="stylesheet" type="text/css" />
	<script src="{% static "js/leaflet.awesome-markers.js" %}"></script>
{% endblock %}

{% block content %}

 <div id="map" style="height: 300px;"> </div>

<h2 style="margin-top:15px">Contact</h2>

<p>
<b>QUICC-FOR Project</b><br>
Theoritical laboratory in ecology<br>
Université du Québec à Rimouski (UQAR)<br>
Département de Biologie, Chimie et Géographie<br>
300 Allée des Ursulines, Rimouski, QC G5L 3A1, Canada<br>
<br>
<b>Email:</b><a href="mailto:dominique_gravel@uqar.ca">dominique_gravel@uqar.ca</a><br>
<b>Office:</b> 418 723-1986 #1751</p>

 <script type="text/javascript">
	var map = new L.Map('map');
	var osmUrl='https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png';
	var osmAttrib='Map data &copy; OpenStreetMap contributors';
	var osm = new L.tileLayer('http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
	});

	var redMarker = L.AwesomeMarkers.icon({
	    icon: 'coffee',
	    markerColor: 'red'
	  });

	map.addLayer(osm);

	map.setView(new L.LatLng(48.45245, -68.51205),10);

	L.marker([48.45245, -68.51205], {icon: L.AwesomeMarkers.icon({icon: 'home', markerColor: 'green', prefix: 'fa', spin:false}) }).addTo(map);


    	L.control.scale().addTo(map);
    	var popup = L.popup();
  </script>

{% endblock %}

{% block footer %}
{% endblock %}