{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="row-fluid">
     <div class="col-md-12">
<h2><i class="fa fa-database"></i> QUICC-Base</h2>

<h3>At continental scale, a large amount of data...</h3>


<p  align="justify" style="padding-left:35px;"> The QUICC-FOR database
contains permanent and temporary forest inventory sample plots from United
States and Canada. The data has been freely provided by partners and covers 3
eastern Canadian provinces (app. 18,000 plots) and 31 states of eastern USA (
app. 150,000 plots). Data is recorded for seedlings, trees, saplings and stand
level. All  inventories are geo-referenced. Climatic variables are associated
to each plot by interpolating the climatic model <a href="http://cfs.nrcan.gc.ca/projects/3"> ANUSPLIN from Natural
Ressources Canada</a>. </p>

<h3>... into a simple database design.</h3>


<p  align="justify">
    <strong>Work-in-progress on the relational database (60%)</strong>
</p>

<div class="progress progress-striped active">
  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    <span class="sr-only">60% Complete (success)</span>
  </div>
</div>


<p  align="justify">
    Database design description and documentation will be available yet.
</p>

<h3>At forest stand scale, three permanent plots... </h3>

<p align="justify" style="padding-left:35px;"> Establishment of these plots
has started in 2009 and we will conduct a sampling of growth increment cores
to collect fine-scale radial growth data. The three plots are located at the
transition between temperate and boreal forests (Estrie, Bas-St-Laurent and
Abitibi). The main plot is located at Sutton (Estrie, 20 Ha) along a 200
meters elevation gradient, so that the tree composition shifts from temperate
broadleaf at the bottom to coniferous at the top. The other two plots (one
near Rimouski further north and the other in Temiscamingue, further north-
west) are smaller (5 Ha) and located in homogeneous environmental conditions,
but have considerable spatial variability in species composition. Within each
of those permanent plots, each tree location (up to 10 cm of DBH) has been
recorded.</p>

<h3>... mapped with high accuracy.</h3>

    </div>
</div>

{% endblock %}