{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<link href="{% static "css/leaflet.awesome-markers.css" %}" rel="stylesheet" type="text/css" />
	<script src="{% static "js/leaflet.awesome-markers.js" %}"></script>
{% endblock %}

{% block content %}

<div class="row-fluid">
<div class="col-md-12">
<h2><i class="fa fa-database"></i> QUICC-Base</h2>

	<h3>At continental scale, a large amount of data...</h3>


	<p  align="justify" style="padding-left:35px;"> The QUICC-FOR database
	contains permanent and temporary forest inventory sample plots from United
	States and Canada. The data has been freely provided by partners and covers 3
	eastern Canadian provinces (app. 18,000 plots) and 31 states of eastern USA (
	app. 150,000 plots). Data is recorded for seedlings, trees, saplings and stand
	level. All  inventories are geo-referenced. Climatic variables are associated
	to each plot by interpolating the climatic model <a href="http://cfs.nrcan.gc.ca/projects/3"> ANUSPLIN from Natural
	Ressources Canada</a>. </p>

	<h3>... into a simple database design.</h3>
</div>

<div class="col-md-12">
<div class="panel panel-success">
      <div class="panel-heading"><strong>Database Description</strong></div>
      <div class="panel-body">
		<p  align="justify">
			<strong>Work-in-progress on the relational database (60%)</strong>
		</p>

		<div class="progress progress-striped active">
		  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
			<span class="sr-only">60% Complete (success)</span>
		  </div>
		</div>
		<p  align="justify">
			Database design description and documentation will be available yet.
		</p>
	</div>
</div>
</div>

	 <div class="col-md-12">

		<h3>At forest stand scale, three forest permanent plots... </h3>

		<p align="justify" style="padding-left:35px;"> Establishment of these plots
		has started in 2009 and we will conduct a sampling of growth increment cores
		to collect fine-scale radial growth data. The three plots are located at the
		transition between temperate and boreal forests (Estrie, Bas-St-Laurent and
		Abitibi). The main plot is located at Sutton (Estrie, 20 Ha) along a 200
		meters elevation gradient, so that the tree composition shifts from temperate
		broadleaf at the bottom to coniferous at the top. The other two plots (one
		near Rimouski further north and the other in Temiscamingue, further north-
		west) are smaller (5 Ha) and located in homogeneous environmental conditions,
		but have considerable spatial variability in species composition. Within each
		of those permanent plots, each tree location (up to 10 cm of DBH) has been
		recorded.</p>

		<h3>... mapped with high accuracy.</h3>


<div class="col-md-12">
<div class="panel panel-success">
      <div class="panel-heading"><strong>Database Description</strong></div>
      <div class="panel-body">
      	<div class="col-md-12">
	<h4>Sites location <hr></h4>

		<div id="map" style="height: 400px;"> </div>

	<h4>Sites description<hr></h4>
	<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          <strong>Abitibi permanent plot</strong>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in">
		      <div class="panel-body">
		<p align="justify">
			The first of the study sites lies within the Abitibi-Temiscaminque
			region of western Quebec (48° 9'45.14"N; 79°24'4.39"W). The site
			is located in the north-eastern temperate zone and is at the
			northern limit of the mixed hardwood forest subzone. The mixed
			forest subzone is primary found between 47° and 48° latitude and
			encompasses an area of approximately 98,600 km2. Sugar maple is
			found to be at the northernmost limit within this range, where the
			primary tree species within this zone includes: balsam fir (Abies
			balsamea), yellow birch (Betual alleghaniensis), white spruce
			(Picea glauca), and white cedar (Thuja occidentalis). The research
			site is of particular interest as study plot since it has no
			record of any significant fire; the primary natural disturbance of
			the region. Site topography of the site is generally flat and
			uniform with elevations ranging between 350m and 400m above sea
			level. The site is located within the clay belt: a large
			physiographic region that was created by lacustrine deposits from
			proglacial lakes Barlo and Ojibway within Ontario and Québec. Mean
			annual temperatures were taken (1994-2012) from the Rouyn field
			station (~35km from study site) and were are found to be -15.4°C
			in January and 18.0°C in July. Annual precipitation over this same
			measurement period was found to be on average 868 mm.</p>

		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		          <strong>Bas-Saint-Laurent permanent plot</strong>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <div class="panel-body">
		<p align="justify">
			The second of the research sites is located within the Bic
			National Park (48°20'1.03"N; 68°49'3.79"W). Recognized as a
			national park (category II) by the International Union for
			Consevation of Nature (IUCN) in 1984, it is now managed by the
			Société des établissements de plein air du Québec (SÉPAQ) since
			1999. Prior to park status and more commonly in the 19th century,
			the forested area had been used as a woodlot and was frequently
			selective harvested by local inhabitants. The site is located
			within the mixedwood forest subzone, which is a part of the north-
			eastern temperate zone. Similarly to the Abitibi site,
			sugar maple is at its northernmost limit within this zone.
			However, the frequency of yellow birch trees significantly drops
			from the west in favour for balsam fir in this eastern section of
			the mixed forest subzone. The site elevation generally ranges
			between 200m and 320m above sea level and is located on a ridge,
			where part of the plot is located on a rugged flat surface and the
			other part exposed to a steep slope facing south. The main soil
			deposit on site is a glacier till with pockets of organic soil in
			local depressions, which ranges from rocky exposure to deep till
			>1m. Mean annual temperatures taken (1953-2012) from the Rimouski
			field station (~20km from study site) range from -11.1°C for
			January to 18.0°C in July, and possess a mean annual precipitation
			of 892 mm.</p>

		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		          <strong>Estrie permanent plot</strong>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <div class="panel-body">
		      <p align="justify">
		      	The third research site is located in the Appalachian-Green
		      	Mountain range of the eastern townships of Québec; ~6 km
		      	east of the town of Sutton (45° 6'46.09"N; 72°32'28.67"W).
		      	Designated a nature reserve in 2001 when the Nature
		      	Conservancy of Canada purchased 460Ha (Note: the reserve is
		      	now approximately 6785 Ha in size), the permanent plot is
		      	located along an elevation gradient, which ranges from
		      	approximately 400m to 850m above sea level. The site is
		      	classified by Ministère des ressources naturelles (2003) as
		      	part of the northern temperate zone and sugar maple-basswood
		      	(Tilia americana) subzone, which covers an estimated
		      	31,000km2 area (Figure 4). The site is predominately
		      	classified as possessing a glacial till with large pockets
		      	of organic material. Median annual temperatures taken
		      	(1979-2012) at the Sutton weather field station were found
		      	to be -9.2°C in January and 19.7°C in July, while annual
		      	precipitation over this same time period was 1314mm.</p>
		      </div>
		    </div>
	</div>
</div>



	</div>
	</div>
</div>


</div>

 <script type="text/javascript">
	var map = new L.Map('map');
	var osmUrl='https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png';
	var osmAttrib='Map data &copy; OpenStreetMap contributors';
	var osm = new L.tileLayer('http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
	});

	var redMarker = L.AwesomeMarkers.icon({
		icon: 'coffee',
		markerColor: 'red'
	  });

	map.addLayer(osm);

	map.setView(new L.LatLng(46.71549, -72.51205),6);
	L.marker([48.334343, -68.812623], {icon: L.AwesomeMarkers.icon({icon: 'tree', markerColor: 'red', prefix: 'fa', spin:false}) }).addTo(map)
		.bindPopup("<b>Bas-Saint-Laurent permanent plot</b><br /><b>Status:</b> National Park <br /> <b>Number of trees recorded:</b> 18,736<br /> <b>Size:</b> 10 ha");
	L.marker([48.1770172, -79.4579449], {icon: L.AwesomeMarkers.icon({icon: 'tree', markerColor: 'red', prefix: 'fa', spin:false}) }).addTo(map)
		.bindPopup("<b>Abitibi permanent plot</b><br /><b>Status:</b>Ecological Reserve <br /> <b>Number of trees recorded:</b>2,777 <br /> <b>Size:</b> 5 ha");
	L.marker([45.064609 , -72.322867], {icon: L.AwesomeMarkers.icon({icon: 'tree', markerColor: 'red', prefix: 'fa', spin:false}) }).addTo(map)
		.bindPopup("<b>Estrie permanent plot</b><br /><b>Status:</b> Ecological Reserve <br /> <b>Number of trees recorded:</b> 16,000 <br /> <b>Size:</b> 20 ha").openPopup();
	var popup = L.popup();
  </script>



{% endblock %}