{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row">
	 <div class="col-md-12">
		<h2><i class="fa fa-home"></i>  What is QUICC-FOR ?</h2>
	</div>

 <div class="col-md-12">

<h3>An applied research project on forest ecosystems...</h3>

<p align="justify" style="padding-left:35px;"> QUICC-FOR is a research project
that aims to develop a suite of forest dynamics models to better understand
how current land-use practices will affect the diversity, productivity and
resilience of forest ecosystems. This modeling suite will be used to provide
scenarios of future tree species distribution and productivity at short (10-25
years) and long (100- 200 years) time horizons. We will evaluate the impact of
innovative sylvicultural and forest management practices on the response of
forest ecosystems to climate change at the transition between temperate and
boreal biomes. </p>

	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>... involved in the current context.</h3>
	</div>

	<div class="col-md-4">
		<p>	<img src="{% static "home2.jpg" %}"> </p>
	</div>

     <div class="col-md-8">

     <p align="justify"> The mid point of the
		projected warming at the end of this century is approximately 3.5°C (IPCC
		2014). The current tools used to predict climate change impact on forest
		ecosystems are limited because they lack important  ecological knowledge. On
		the one hand, foresters use growth and yield curves parameterized for
		different regions and climatic conditions to project future productivity.
		These are inappropriate because they do not consider how the complex
		ecological interactions between the different tree species will change with
		novel conditions. On the other hand, the predictions of future species
		distribution are typically based on the current correlation between observed
		distribution and several climate descriptors. These models are also
		inappropriate for forest ecosystems because they do not consider how the
		complex interplay between dispersal, interspecific interactions and forest
		management will affect migration dynamics.

		<p align="justify">

This project is unique in linking the best forest ecologists and modelers from
Canada, USA and Europe to provide them tools that will be used to assess the
impacts and risks of climate change on the productivity of the forests of
Eastern Canada. QUICC-FOR is mainly funded by the Strategic program of the
<a href="http://www.nserc-crsng.gc.ca/index_eng.asp">         Natural Sciences
and Engineering Research Council of Canada (NSERC) </a>.         </p>

		<p align="right">
			<a href="http://www.nserc-crsng.gc.ca/index_fra.asp"><img src="{% static "Logo/nserc.png" %}"  width="150px"></a>
		</p>

	</div>

</div>
{% endblock %}
