{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span12">
    <h3><i class="fa fa-home"></i>  What is QUICC-FOR ?</h3>

    <p align="justify">The current tools used to predict climate change impact
    on forest ecosystems are limited because they lack important, inherent
    ecological knowledge. On the one hand, foresters use growth and yield
    curves parameterized for different regions and climates to project future
    productivity. These are inappropriate because they do not consider how
    the complex ecological interactions between the different tree species
    will change with novel conditions. On the other hand, the predictions of
    future species distribution are typically based on the current
    correlation between observed distribution and several climate
    descriptors. These models are also inappropriate for forest ecosystems
    because they do not consider how the complex interplay between dispersal,
    interspecific interactions and forest management will affect migration
    dynamics. </p>

    <p align="justify">This project is unique in linking the best forest
    ecologists and modelers from Canada, USA and Europe to provide them tools
    that will be used to assess the impacts of and risks of climate change on
    the productivity of the forests of Eastern Canada.</p>


  </div>
</div>
<div class="row-fluid">
  <div class="span12">
   <p align="center">
    <img src="{% static "test12.jpg" %}" class="img-rounded" alt="illustration 1"/>
    <img src="{% static "test32.jpg" %}" class="img-rounded" alt="illustration 2"/>
    <img src="{% static "test22.jpg" %}" class="img-rounded" alt="illustration 3"/>
  </p>
</div>
</div>
{% endblock %}
