{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		<h2><i class="fa fa-tree"></i> Research </h2>
	</div>

	<div class="col-md-12">
		<h3>The QUICC-FOR project includes 4 main research axes:</h3>
	</div>

	<div class="col-md-12">
		<div class="alert alert-success" >
		   <h4><i class="fa fa-chevron-circle-right"></i> Axe 1: Investigate the theory of ecosystem functioning under climate change</h4>
		 <p align="justify">
			Wood production is one of the several ecosystem services provided to humans by forests (also called ecosystem functions).
			There is a well-developed theory to explain the impact of biodiversity losses on these services
			and some empirical evidence that biodiversity of forest ecosystems is fundamental to the
			maintenance of productivity. Such general theories are useful because they <strong>provide a mechanistic
			understanding of human impacts on ecosystem
			services</strong>. There is however currently no theory to explain how ecosystem functioning should vary with
			climate and how it will be impacted during the transient reorganization of ecosystems that will follow
			climate change. The specific objective of this technical task is to improve our mechanistic understanding
			of how primary ecosystem functions, such as productivity, will be affected by climate change.
		 </p>
	   	</div>
	 </div>

	<div class="col-md-12">
		<div class="alert alert-success">
		<h4><i class="fa fa-chevron-circle-right"></i> Axe 2: Create a climate-driven neighborhood competition models </h4>
		   <p align="justify">

			The productivity of a forest stand depends on abiotic conditions such as climate and soil productivity and on the
			competitive interactions among forest trees. Knowledge of these factors is critical to the development of
			sustainable management of forest ecosystems, particularly in mixed-species, uneven-aged stands as the
			ones found at the transition between temperate and boreal forests. This axe include three main subtasks:

			<ul class="fa-ul"  style="padding-left:60px;padding-top:10px;">
			  	<li><i class="fa-li fa fa-check"></i><strong>Develop and parameterize competition models accounting for both the complexity of stand structure and climate </strong></li>
			  	<li><i class="fa-li fa fa-check"></i><strong>Produce maps of predicted short-term impacts of climate change on forest productivity </strong></li>
			 	<li><i class="fa-li fa fa-check"></i><strong>Test if the diversity of forest tree species promotes the maintenance of productivity </strong></li>
			</ul>

		</p>
		</div>
	</div>

	<div class="col-md-12">
		<div class="alert alert-success">
		<h4><i class="fa fa-chevron-circle-right"></i> Axe 3: Develop Forest dynamics modeling suite</h4>
		 <p align="justify">
			Long-term predictions of climate
			change impacts on productivity must account for changes in stand composition and structure. For this
			axe we will turn to an integrated modeling suite, to scale from individuals to the landscape dynamics.
			This task include several steps :

			<ul class="fa-ul"  style="padding-left:60px;padding-top:10px;">
			  	<li><i class="fa-li fa fa-check"></i><strong>Develop climate-driven stand-level forest model</strong></li>
			  	<li><i class="fa-li fa fa-check"></i><strong>Develop large scale forest dynamics model</strong></li>
			 	<li><i class="fa-li fa fa-check"></i><strong>Develop statistical methodology to parameterize the two forest dynamics models</strong></li>
				<li><i class="fa-li fa fa-check"></i><strong>Provide maps of long-term impacts of climate change of forest productivity and of future diversity of forest trees</strong></li>
			</ul>
		</p>

	   </div>
	 </div>

	 <div class="col-md-12">
		<div class="alert alert-success">
		   <h4><i class="fa fa-chevron-circle-right"></i> Axe 4: Development of innovative management strategies</h4>
		 <p align="justify">

			Forest management all over the world has evolved slowly over the last 40 years
			to consider the biological and ecological complexity of forest ecosystems. Forestry is now managing this ecosystem as a whole
			for different ecological, social and economic services. As discussed above,
			however, the tools used by managers to do so are still very limited and much
			influenced by the idea of a static forest at equilibrium. Furthermore, natural
			disturbances as well as environmental, social and economic uncertainties are
			still little considered. The traditional approach used by forest managers, to
			reduce these risks and uncertainties, was to simplify the forest by managing
			mainly one single tree species and to eliminate or reduce as much as possible
			any possible threats to the target species. Ecologists and forest managers now
			recognize that such simple solutions to management challenges are rarely
			sustainable; creativity is needed in designing and implementing more diverse
			forest management policies for the future.
		</p>

		<p align="justify" style="margin-top:15px;">
			In this technical task, we will use the theory and the suite of models developed in the previous three
			tasks to <strong>evaluate how different silvicultural strategies implemented both at the stand and landscape
			scales could better mitigate the negative impacts of the changes and uncertainties associated with
			climate change</strong>.

		</p>
	   </div>
	 </div>

</div>
{% endblock %}