{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
       <div class="col-md-6">
    <div class="alert alert-success">
     <h4><i class="icon-chevron-sign-down icon-large"></i>  Objective 1</h4>
     <p align="justify">Curabitur hendrerit malesuada dapibus. Maecenas pretium elementum quam id vulputate. Cras porta vestibulum enim, non vehicula nunc adipiscing et.  </p>
   </div>
 </div>
     <div class="col-md-6">
  <div class="alert alert-success">
   <h4><i class="icon-chevron-sign-down icon-large"></i>  Objective 2</h4>
   <p align="justify">Curabitur hendrerit malesuada dapibus. Maecenas pretium elementum quam id vulputate. Cras porta vestibulum enim, non vehicula nunc adipiscing et. Nunc facilisis sollicitudin ligula. </p>
 </div>
</div>
</div>
{% endblock %}