{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row-fluid">
	<div class="span12">
		<h2><i class="fa fa-group"></i> Team</h2>

			<h3>Academic researchers</h3>
			<ul>
				<li>D. Gravel, UQAR</li>
				<li>Y. Bergeron, UQAM-UQAT</li>
				<li>C. Messier, UQAM-UQO</li>
				<li>D. Berteaux, UQAR</li>
				<li>O. Valeria, UQAT</li>
				<li>F. Doyon, UQO</li>
				<li>M.J. Fortin, U. Toronto</li>
				<li>R. Schneider, UQAR</li>
				<li>I. Drobyshev, UQAT</li>
			</ul>

			<h3>Collaborators</h3>
			<ul>
				<li>I. Aubin, Canadian Forest Service </li>
				<li>C.D. Canham, Cary Institute of Ecosystem Studies </li>
				<li>S.J. Colombo, Ministry of Natural Resources </li>
				<li>C.R. Drever, Nature Conservancy of Canada </li>
				<li>M. Loreau, Centre National de la Rech. Scientifique </li>
				<li>D. McKenney, Canadian Forest Service </li>
				<li>A. Paquette, UQAM </li>
				<li>N. Strigul, Washington State University </li>
				<li>W. Thuiller, Centre National de la Rech. Scientifique </li>
				<li>W. Godsoe, U. Lincoln </li>
			</ul>

			<h3>Partners</h3>
			<ul>
				<li>B.P. Parker, OMNR </li>
				<li>C. Périé, Ministère des Forêts, Faune et Parcs </li>
				<li>R. Vanier, Domtar Inc. </li>
				<li>G. Labrecque, Tembec inc. </li>
				<li>D. Houle, Ouranos </li>
				<li>L. Lavoie, CREBSL </li>
				<li>C.R. Drever, Conservation de la nature Canada </li>
				<li>F. Dumoulin, PF Résolu Canada inc. </li>
				<li>Bureau du Forestier en chef </li>
			</ul>

			<h3>Students</h3>
			<ul>
				<li>S. Vissault, M.Sc. UQAR </li>
				<li>K. Solarik, Ph.D. UQAM </li>
				<li>H. Nenzen, Ph.D. UQAM </li>
				<li>L. Jaton, , Ph.D. UQAT </li>
				<li>R. Aussenac, Ph.D. UQAT </li>
				<li>C.A. Butler, Ph.D. UQAR </li>
				<li>A. LeSquin, Ph.D. UQAR </li>
				<li>C. Jacquet, Ph.D. UQAR </li>
				<li>P. Desjardins-Proulx, Ph.D. UQAR </li>
				<li>M. Talluto, postdoc, UQAR </li>
				<li>C. Albouy, postdoc, UQAR </li>
				<li>I. Boulangeat, postdoc, UQAR </li>
			</ul>

			<h3>Research assistants</h3>
			<ul>
				<li>M. Bryant, database specialist</li>
				<li>S. Vissault, database specialist</li>
				<li>J. Brassard, field work coordonator</li>
			</ul>
	</div>
</div>

{% endblock %}